* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsla(187, 77%, 71%, 0.877);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header {
    padding: 1px;
    margin: 0px;
    height: 10vh;
}

.navbar {
    display: flex;
    background-color: hsl(0, 1%, 60%);
    width: 100%;
    height: 95%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.logo {
    margin-left: 1rem;
    font-weight: bold;
    font-size: larger;
    font-family: Cambria;
    color: hsl(27, 88%, 37%);
}

.logo a {
    margin-left: 1rem;
    font-weight: bold;
    font-size: larger;
    font-family: Cambria;
    color: hsl(27, 88%, 37%);
    text-decoration: none;
}

.logo a:hover {
    cursor: pointer;
    color: hsl(27, 89%, 68%);
}

main {
    display: flex;
    height: 84%;
    width: 100%;
}

.maincontainer {
    margin-top: 1px;
    width: 100%;
    background-color: hsl(180, 60%, 67%);
    border-radius: 5px;
    padding: 1em 1em;    
    justify-content: center;
    flex-direction: column;
}

.addItem {
    background-color: beige;
    width: 95%;
    margin: 2% 2%;
    float: right;
}

.addItem input {
    border-radius: 5px;
    padding: 1em 1em;
    margin: 4% 4%;
}

.addItem button {
    padding: 1em 1em;
    background-color: hsla(120, 93%, 44%, 0.836);
    border-radius: 5px;
    margin: 4% 4%;
}

#getData {
    color: hsl(0, 25%, 24%);
    background-color: hsl(258, 87%, 63%);    
    margin: 5% 6%;
    border-radius: 5px;
    padding: 1em 1em;    
}

#getData:hover {
    cursor: pointer;
    color: hsl(0, 25%, 54%);
    background-color: hsl(258, 87%, 83%);
}

.footer {
    background-color: aquamarine;
    height: 10%;
    width: 100%;
    margin-top: auto;
    padding: 1em 1em;
    border-radius: 5px;
    position: sticky;
}

.footcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}